<launch>
  <param name="usarsim/robotType" value="KR60" />
  <param name="usarsim/robotName" value="KR60" />
  <param name="usarsim/hostname" value="rogerrabbit" />
  <param name="usarsim/port" value="3000" />
  <param name="usarsim/odomSensor" value="GroundTruth" />
  <param name="usarsim/startPosition" value="RobotStart1" />
  <node name="URDFGenerate" pkg="usarsim_inf" type="usarsim_urdf"/>
</launch>
