<launch>
  <param name = "robot_description" command = "cat $(find usarsim_inf)/urdf/KR60.xml" />
  <param name="usarsim/robotType" value="KR60" />
  <param name="usarsim/robotName" value="KR60" />
  <param name="usarsim/hostname" value="rogerrabbit" />
  <param name="usarsim/port" value="3000" />
  <param name="usarsim/startPosition" value="RobotStart1" />
  <param name="usarsim/odomSensor" value="GroundTruth" />
  <node name="RosSim" pkg="usarsim_inf" type="usarsim_node"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="tf_state_publisher" />
</launch>
