<launch>
  <param name = "robot_description" command = "cat $(find usarsim_inf)/urdf/twolink.xml" />
  <param name="usarsim/robotType" value="TwoLink" />
  <param name="usarsim/hostname" value="tweety" />
  <param name="usarsim/port" value="3000" />
  <param name="usarsim/startPosition" value="RobotStart1" />
  <node name="RosSim" pkg="usarsim_inf" type="usarsim_node"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="tf_state_publisher" />
</launch>
